html
	body
		h1="Price history"
		table
			each price in meme.getHistory().reverse()
				tr
					td=price

		form(method='POST' action='/meme/' + meme.getId())
			label="New price"
			input(type='number', name='price')
			input(type='submit' value='Confirm')
			input(type="hidden", name="_csrf", value=token)