body {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

#lot_bg {
	font-family: sans-serif;
    text-align: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	background-image: url(https://1.bp.blogspot.com/-upDgWmYeR-g/Wi9obwelNdI/AAAAAAABZm8/fW3DSu7xac0PdHpfev7mxTx1wVoLtzxLwCLcBGAs/s1600/2015-12-13_0117-0118HDR.jpg);
}

#lista_bg { 
	font-family: sans-serif;
    text-align: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	background-image: url(https://wallpaperaccess.com/full/1706769.jpg);
}

footer { 
    background-color: #4000ff;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: center;
	margin: auto;
	position: fixed;
    bottom: 0px;
}

header {
	background-color: #4000ff;
	color: white;
    width: 100%;
    font-size: 100px;
    text-align: center;
}

table { 
	width: 100%;
	padding: 15px
}

#logo {
    display: block;
    width: 15%;
    margin: auto;
}

td {
    border: 1px solid white;
    padding: 20px;
    border-collapse: collapse;
}

th {
    border: 1px solid white;
    padding: 20px;
    background-color: #4000ff;
    border-collapse: collapse;
}

a {
	color: white;
}

#tabelka { 
	margin-top: 0;
	position: relative;
	background-color: #4000ff;
	color: white;
	font-weight: bold;
}

h1 {
    width: 60%;
    margin: auto;
    background-color: darkblue;
    margin-bottom: 20px;
}

.kontener {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    position: relative;
    height: 500px;
}

.miejsce {
    height: 500px;
    width: 33%;
    position: absolute;
    text-align: center;
}

#skad {
    left: 0%;
}

#dokad {
    left: 66%;
}

.miasto {
    font-size: 30px;
    font-weight: bold;
}

.zdjecie {
	width: 80%;
	position: relative;
}

.zawartosc {
	color: white;
	width: 100%;
	text-align: center;
	position: absolute;
	margin-left: auto;
    margin-right: auto;
	top: 50%;
	margin-top: -70%;
}

#pierwszy {
	color: white;
	background-color: #4000ff;
	width: 60%;
	margin: auto;
}

#drugi {
	color: white;
	background-color: darkblue;
	width: 80%;
	margin: auto;
}

#trzeci {
	color: white;
	background-color: darkblue;
	width: 80%;
	position: absolute;
	top: 55%;
	left: 10%;
	text-align: center;
}

#samolot {
	color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
	padding: 20px;
	margin-top: -15%;
}

.informacja {
	font-weight: bold;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}

.tresc {
    font-size: 30px;
}

#samolot_zdjecie {
    margin-top: 30px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 40%;
}

ol {
	margin-top: 0px;
}