html
  head
    title Error
    link(rel='stylesheet' type='text/css' media='screen' href='/css/main.css')
  body
    h1=message
    section#main_screen.flex-child
      section.button_flexbox.flex-child
        form(action='http://localhost:3000')
          input(type='submit' value='Return')